<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.prismax.gitpull.daily</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-l</string>
        <string>-c</string>
        <string>/Users/wanxin/PycharmProjects/WORK/Prismax/QA_PrismaX/Daily_Pull/pull_repos.sh</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/wanxin/PycharmProjects/WORK/Prismax/QA_PrismaX/Daily_Pull</string>
    <!-- 每天 09:00 主触发 -->
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key><integer>9</integer>
        <key>Minute</key><integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/wanxin/PycharmProjects/WORK/Prismax/QA_PrismaX/Daily_Pull/log/daily_stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/wanxin/PycharmProjects/WORK/Prismax/QA_PrismaX/Daily_Pull/log/daily_stderr.log</string>
</dict>
</plist>
