<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.prismax.gitpull.catchup</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-l</string>
        <string>-c</string>
        <string>/Users/wanxin/PycharmProjects/WORK/Prismax/QA_PrismaX/Daily_Pull/run_pull_if_needed.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StartCalendarInterval</key>
    <array>
        <dict><key>Minute</key><integer>0</integer></dict>
        <dict><key>Minute</key><integer>30</integer></dict>
    </array>
    <key>StandardOutPath</key>
    <string>/Users/wanxin/PycharmProjects/WORK/Prismax/QA_PrismaX/Daily_Pull/log/catchup_stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/wanxin/PycharmProjects/WORK/Prismax/QA_PrismaX/Daily_Pull/log/catchup_stderr.log</string>
    <key>WorkingDirectory</key>
    <string>/Users/wanxin/PycharmProjects/WORK/Prismax/QA_PrismaX/Daily_Pull</string>
</dict>
</plist>

